html
{
    width: 1920px;
    height: 1080px;
    margin: 0;
}

body
{
    width: 1920px;
    height: 1080px;
    margin: 0px;
    background-color: cornflowerblue;
}

#teamA_Top:before
{
    content: "Team A";
    font-size: 30px;
    color: palegreen;
    display: inline-block;
}

#teamA_Top
{
    width: 550px;
    height: 40px;
    padding: 10px;
    position: absolute;
    left: 40px;
    top: 55px;
    background-color: #274AB3;
}

#teamA_Main
{
    width: 540px;
    height: 130px;
    padding: 15px;
    position: absolute;
    left: 40px;
    top: 115px;
    background-color: royalblue;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#teamB_Top:before
{
    content: "Team B";
    font-size: 30px;
    color: white;
    display: inline-block;
}

#teamB_Top
{
    width: 550px;
    height: 40px;
    padding: 10px;
    position: absolute;
    left: 40px;
    top: 305px;
    background-color: #274AB3;
}

#teamB_Main
{
    width: 540px;
    height: 130px;
    padding: 15px;
    position: absolute;
    left: 40px;
    top: 365px;
    background-color: royalblue;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#teamC_Top:before
{
    content: "Team C";
    font-size: 30px;
    color: khaki;
    display: inline-block;
}

#teamC_Top
{
    width: 550px;
    height: 40px;
    padding: 10px;
    position: absolute;
    left: 40px;
    top: 545px;
    background-color: #274AB3;
}

#teamC_Main
{
    width: 540px;
    height: 130px;
    padding: 15px;
    position: absolute;
    left: 40px;
    top: 605px;
    background-color: royalblue;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#teamD_Top:before
{
    content: "Team D";
    font-size: 30px;
    color: violet;
    display: inline-block;
}

#teamD_Top
{
    width: 550px;
    height: 40px;
    padding: 10px;
    position: absolute;
    left: 40px;
    top: 795px;
    background-color: #274AB3;
}

#teamD_Main
{
    width: 540px;
    height: 130px;
    padding: 15px;
    position: absolute;
    left: 40px;
    top: 855px;
    background-color: royalblue;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#logo
{
    width: 570px;
    height: 150px;
    position: absolute;
    left: 675px;
    top: 55px;
    background-color: royalblue;
}

#main
{
    width: 570px;
    height: 450px;
    position: absolute;
    left: 675px;
    top: 225px;
    background-color: royalblue;
}

#auction
{
    width: 570px;
    height: 190px;
    position: absolute;
    left: 675px;
    top: 685px;
    background-color: royalblue;
}

#time
{
    width: 290px;
    height: 60px;
    position: absolute;
    left: 675px;
    top: 885px;
    background-color: #ffdd28;
}

#remain
{
    width: 290px;
    height: 60px;
    position: absolute;
    left: 675px;
    top: 955px;
    background-color: white;
}

#Plus_5
{
    width: 60px;
    height:60px;
    position: absolute;
    left: 990px;
    top: 885px;
    background-color: white;
    font-size: 20px;
}

#Plus_10
{
    width: 60px;
    height:60px;
    position: absolute;
    left: 1055px;
    top: 885px;
    background-color: white;
    font-size: 20px;
}

#Plus_50
{
    width: 60px;
    height:60px;
    position: absolute;
    left: 1120px;
    top: 885px;
    background-color: white;
    font-size: 20px;
}

#Plus_100
{
    width: 60px;
    height:60px;
    position: absolute;
    left: 1185px;
    top: 885px;
    background-color: white;
    font-size: 20px;
}

#entry
{
    width: 100px;
    height: 60px;
    position: absolute;
    left: 1145px;
    top: 955px;
    background-color: darkturquoise;
    font-size: 25px;
}

#players
{
    width: 490px;
    height: 620px;
    padding: 40px;
    position: absolute;
    left: 1310px;
    top: 55px;
    background-color: royalblue;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 60px 30px;
    justify-content: center;
    align-items: center;
}

#bidding_Top:before
{
    content: "유찰";
    font-size: 30px;
    color: white;
    display: inline-block;
}

#bidding_Top
{
    width: 550px;
    height: 40px;
    padding: 10px;
    position: absolute;
    left: 1310px;
    top: 785px;
    background-color: #274AB3;
}

#bidding_Main
{
    width: 550px;
    height: 150px;
    padding: 10px;
    position: absolute;
    left: 1310px;
    top: 845px;
    background-color: royalblue;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
}

.point
{
    width: 200px;
    height: 60px;
    position: relative;
    left: 360px;
    top: -50px;
    background-color: white;
}

.members
{
    width: 100px;
    height: 100px;  
    background-color: #3c53b6;

    position: relative;

}

.picture
{
    width: 280px;
    height: 280px;
    position: relative;
    left: 20px;
    top: 20px;
    background-color: white;
}

.champ
{
    width: 280px;
    height: 120px;
    position: relative;
    left: 20px;
    top: 30px;
    background-color: white;
}

.line
{
    width: 240px;
    height: 120px;
    position: relative;
    left: 310px;
    top: -380px;
    background-color: white;
}

.word
{
    width: 240px;
    height: 280px;
    position: relative;
    left: 310px;
    top: -370px;
    background-color: white;
}

#players .waiting
{
    width: 100px;
    height: 100px;
    background-color: #3c53b6;
}

#players .waiting::after
{
    content: '';
    position: relative;
    left: 107.5px;
    top: 40px;
    
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#players .waiting:nth-child(4n)::after
{
    content: none;
}

#bidding_Main .waiting
{
    width: 70px;
    height: 70px;
    background-color: white;
}